<a href="https://colab.research.google.com/github/DDricko/Ciencia_de_dados_Ebac/blob/main/Mod07_Tarefa_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('demo01.csv')
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [6]:
df.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [9]:
df['mau'].value_counts(normalize=True)

mau
False    0.976577
True     0.023423
Name: proportion, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [17]:
metadados = pd.DataFrame({
    'variavel': df.columns,
    'tipo': df.dtypes
})

metadados = metadados.reset_index(drop=True)

metadados

                 variavel     tipo
0                    sexo   object
1        posse_de_veiculo   object
2         posse_de_imovel   object
3              qtd_filhos    int64
4              tipo_renda   object
5                educacao   object
6            estado_civil   object
7         tipo_residencia   object
8                   idade  float64
9           tempo_emprego  float64
10         possui_celular    int64
11  possui_fone_comercial    int64
12            possui_fone    int64
13           possui_email    int64
14  qt_pessoas_residencia  float64
15                    mau     bool

In [18]:
qtd_categorias = []

for col in df.columns:
    qtd_categorias.append(df[col].nunique())

metadados['qtd_categorias'] = qtd_categorias
metadados

                 variavel     tipo  qtd_categorias
0                    sexo   object               2
1        posse_de_veiculo   object               2
2         posse_de_imovel   object               2
3              qtd_filhos    int64               8
4              tipo_renda   object               5
5                educacao   object               5
6            estado_civil   object               5
7         tipo_residencia   object               6
8                   idade  float64            5298
9           tempo_emprego  float64            3005
10         possui_celular    int64               1
11  possui_fone_comercial    int64               2
12            possui_fone    int64               2
13           possui_email    int64               2
14  qt_pessoas_residencia  float64               9
15                    mau     bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [19]:
cat_cols = df.select_dtypes(include='object').columns
cat_cols

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'tipo_renda', 'educacao',
       'estado_civil', 'tipo_residencia'],
      dtype='object')

In [20]:
df_dummies = pd.get_dummies(df, columns=cat_cols, drop_first=True)
df_dummies.head()

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_M,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,True,...,True,True,False,False,False,True,False,False,False,False
1,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
2,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
3,0,46.224658,2.106849,1,1,1,1,2.0,False,True,...,False,True,False,False,False,True,False,False,False,False
4,0,29.230137,3.021918,1,0,0,0,2.0,False,False,...,False,True,False,False,False,True,False,False,False,False

In [21]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   qtd_filhos                              16650 non-null  int64
 1   idade                                   16650 non-null  float64
 2   tempo_emprego                           16650 non-null  float64
 3   possui_celular                          16650 non-null  int64
 4   possui_fone_comercial                   16650 non-null  int64
 5   possui_fone                             16650 non-null  int64
 6   possui_email                            16650 non-null  int64
 7   qt_pessoas_residencia                   16650 non-null  float64
 8   mau                                     16650 non-null  bool
 9   sexo_M                                  16650 non-null  bool
 10  posse_de_veiculo_Y                      16650 non-null  bool
 11  posse_de_imovel_Y                       16650 non-null  bool
 12  tipo_renda_Pensioner                    16650 non-null  bool
 13  tipo_renda_State servant                16650 non-null  bool
 14  tipo_renda_Student                      16650 non-null  bool
 15  tipo_renda_Working                      16650 non-null  bool
 16  educacao_Higher education               16650 non-null  bool
 17  educacao_Incomplete higher              16650 non-null  bool
 18  educacao_Lower secondary                16650 non-null  bool
 19  educacao_Secondary / secondary special  16650 non-null  bool
 20  estado_civil_Married                    16650 non-null  bool
 21  estado_civil_Separated                  16650 non-null  bool
 22  estado_civil_Single / not married       16650 non-null  bool
 23  estado_civil_Widow                      16650 non-null  bool
 24  tipo_residencia_House / apartment       16650 non-null  bool
 25  tipo_residencia_Municipal apartment     16650 non-null  bool
 26  tipo_residencia_Office apartment        16650 non-null  bool
 27  tipo_residencia_Rented apartment        16650 non-null  bool
 28  tipo_residencia_With parents            16650 non-null  bool
dtypes: bool(21), float64(3), int64(5)
memory usage: 1.3 MB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [31]:

(pd.crosstab(df['possui_email'], df['mau'], normalize='index') * 100).round(2)

mau           False  True
possui_email
0             97.63   2.37
1             97.97   2.03

In [32]:
(pd.crosstab(df['posse_de_veiculo'], df['mau'], normalize='index') * 100).round(2)

mau               False  True
posse_de_veiculo
N                 97.57   2.43
Y                 97.79   2.21

A variável possui_email apresenta maior diferença na probabilidade de inadimplência entre seus grupos, indicando maior poder preditivo em relação à posse de veículo.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [33]:
df_dummies.to_csv("demo01_tratada.csv", index=False)